.Home-app {
	background-color: rgb(27, 31, 39);
	min-height: 100vh;
}

.Home-content {
	padding-top: 45vh;
}

.Home-input {
	padding-bottom: 2rem;
}

.Home-results-for-display h2{
	color: #00d38e;
	margin-top: .5rem;
}

.Home-results-for-display h2 span{
	text-decoration: underline;
}

.Home-hello-display-name h2{
	color: #00d38e;
	margin: 0;
}