.Navbar {
	background-color: rgb(27, 31, 39);
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 10;
}

.Navbar-img {
	width: 9rem;
	height: 9rem;
}

.Navbar-button {
	color: #00d38e;
}
